html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.App {

}


/* Ajustes no Layout PrimeFaces */
.p-menubar{
  border: 0px !important
}

.p-menubar-start{
  padding-right: 4vw;
  padding-left: 2vw;
}